$primary: #444;
$secondary: #666;
$accent: #50b3ff;
@mixin flex-align($j,$a){justify-content: $j;align-items: $a;}
.container{
     display: flex;
     @include flex-align(center, center);
     flex-direction: column;
     min-height: 100vh;
     background: $primary;
     padding: 15px;
     .autocomplete{
          background: $secondary;
          padding: 16px;
          border-radius: 10px;
          position: absolute;
          top: 10px;
          left: 15%;
          display: none;
          flex-direction: column;
          height: 400px;
          overflow: auto;
          p{
               font-size: 16.5px;
               color: white;
               margin: 10px 5px;
               cursor: pointer;
          }
     }
}
.content{
     width: 100%;
     max-width: 750px;
     background: $secondary;
     padding: 20px;
     border-radius: 75px;
     display: flex;
     @include flex-align(space-between, center);box-shadow: 0 5px 25px rgba($color: #222222, $alpha: .25);
     position: relative;
     textarea{
          padding: 10px;
          width: 100%;
          max-width: 550px;
          border: none;
          outline: none;
          resize: none;
          font-size: 16.5px;
          background: none;
          color: white;
     }
     button{
          padding: 1em;
          font-size: 16.5px;
          border: 2px solid $accent;
          border-radius: 75px;
          background: none;
          outline: none;
          color: $accent;
          cursor: pointer;
          transition: .3s ease;
          display: flex;
          @include flex-align(center, center);
          &:hover{background: $accent;color: white;}
     }
}